.home__header {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 5px;

  @media (min-width: 768px) {
    flex-flow: row nowrap;
    padding: 10px;
  }

  @media (min-width: 1024px) {
    width: 1024px;
    margin: auto;
  }

  .header__logo {
    display: flex;
    flex-flow: row nowrap;
    margin: 25px auto;

    @media (min-width: 768px) {
      margin: 0;
    }

    .first_word,
    .second_word {
      font-size: 3rem;
    }

    .first_word {
      color: #AF5;
    }

    .second_word {
      color: #209CEE;
    }
  }

  .header__favorite {
    display: flex;
    flex-flow: row nowrap;
    font-size: 28px;
    justify-content: center;
    background: #209CEE;
    border-radius: 2px;
    padding: 0 10px 0 10px;
    margin: 0 20px 0 20px;
    color: #AF5;

    @media (min-width: 769px) {
      margin: 0;
    }

    .favorite_icon {
      width: 36px;
      height: 36px;
      color: black;
    }

    .favorite_link {
      margin-top: 1px;
      margin-left: 2px;
      text-decoration: none;

      &:visited {
        color: inherit;
      }
    }
  }
}
